<nav>
  <% if user_signed_in? %>
    <%= link_to "登出", logout_path, method: "delete" %> |
    <%= current_user.email %>
  <% else %>
    <%= link_to "登入", sign_in_users_path %> |
    <%= link_to "註冊", sign_up_users_path %>
  <% end %>
</nav>
